<!-- Start Header -->
<header id="mu-header" class="" role="banner">
  <div class="container">
    <nav class="navbar navbar-default mu-navbar">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- Text Logo -->
          <a class="navbar-brand" href="#">Plab</a>

          <!-- Image Logo -->
          <!-- <a class="navbar-brand" href="#"><img src="assets/images/logo.png"></a> -->


        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav mu-menu navbar-right">
            <li><a href="#">HOME</a></li>
            <li><a href="#mu-service">COURSES</a></li>
            <li><a href="#mu-schedues">SCHEDULES</a></li>
            <li><a href="#mu-contact">CONTACT</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</header>
<!-- End Header -->

<!-- Start Featured Slider -->

<!-- //carousel plab details  home-->
<section id="mu-featured-slider">
  <div class="row">
    <div class="col-md-12">
      <div class="mu-featured-area">
        <!-- <h1>Plab Details</h1> -->

        <!-- Start text slide -->
        <div class="mu-featured-slider-wrapper">
          <div class="mu-featured-slider" id="typed-strings">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">

                <div class="item active">
                  <div align="center">
                    <video autoplay loop>
                      <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" width="1024" height="552"
                        type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                  </div>
                  <div class="carousel-caption">
                    <h3>hello</h3>
                    <p>hello</p>
                  </div>
                </div>
                <div class="item">
                    <div align="center">
                        <video autoplay loop>
                          <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" width="1024" height="552"
                            type="video/mp4">
                          Your browser does not support the video tag.
                        </video>
                      </div>
                      <div class="carousel-caption">
                        <h3>hello</h3>
                        <p>hello</p>
                      </div>
                  <!-- <img src="http://dummyimage.com/1024x552/000/fff" class="img-responsive" alt="asfds">
                  <div class="carousel-caption">
                    <h3>hello</h3>
                    <p>hello.</p>
                  </div> -->
                </div>
                <a class="left carousel-control" href="#carouselHelp" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carouselHelp" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Start text slide -->

        <div class="mu-featured-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere ipsa necessitatibus voluptate. Dolores
            sed neque, accusantium iusto inventore harum quibusdam, aspernatur, ullam vero ea eos ipsam tenetur dolore
            qui voluptatibus!</p>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- Start Featured Slider -->

<!-- Start main content -->

<main role="main">

  <!-- Start Service -->
  <section id="mu-service">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-service-area">

            <div class="mu-service-header">
              <h2 class="mu-heading-title">COURSES</h2>
              <span class="mu-header-dot"></span>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever</p>
            </div>

            <!-- Start Service Content -->
            <div class="mu-service-content">
              <div class="row">

                <!-- Service Single Content -->
                <div class="col-md-4 col-sm-6">
                  <div class="mu-service-content-single" (click)="doingMbbs()" id="plab-courses">
                    <span class="mu-service-icon-box">
                      <i class="fa fa-leaf"></i>
                    </span>
                    <h4>Doing MBBS</h4>
                    <p>Click to view MBBS courses.</p>
                    <i class="fa fa-angle-down" style="font-size:16px"></i>
                  </div>
                </div>
                <!-- / Service Single Content -->


                <!-- Service Single Content -->
                <div class="col-md-4 col-sm-6">
                  <div class="mu-service-content-single" (click)="doingInternship()" id="plab-courses">
                    <span class="mu-service-icon-box">
                      <i class="fa fa-desktop"></i>
                    </span>
                    <h4>Doing Internship</h4>
                    <p>Click to view Iternship courses.</p>
                    <i class="fa fa-angle-down" style="font-size:16px"></i>
                  </div>
                </div>
                <!-- / Service Single Content -->

                <!-- Service Single Content -->
                <div class="col-md-4 col-sm-6">
                  <div class="mu-service-content-single" (click)="doingMD()" id="plab-courses">
                    <span class="mu-service-icon-box">
                      <i class="fa fa-briefcase"></i>
                    </span>
                    <h4>Doing MD</h4>
                    <p>Click to view MD courses.</p>
                    <i class="fa fa-angle-down" style="font-size:16px"></i>
                  </div>
                </div>
                <!-- / Service Single Content -->

                <!-- //display courses -->
                <div>
                  <div>
                    <div class="row">
                      <div class="col-md-4 col-sm-6">
                        <div *ngIf="displayCoursesFlag" class="mu-service-content-single">
                          <div class="existing-div-wrap" *ngFor="let courses of plab_courses" id="plab-courses"
                            data-toggle="modal" data-target="#myModal">
                            <div class="card">
                              <div class="card-body">
                                <span class="tit-high">{{courses}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- //display internship -->
                      <div class="col-md-4 col-sm-6">
                        <div *ngIf="doingInternshipFlag" class="mu-service-content-single">
                          <div class="existing-div-wrap" *ngFor="let internship of doing_inter" id="plab-courses">
                            <div class="card">
                              <div class="card-body">
                                <span class="tit-high">{{internship}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- //display md -->
                      <div class="col-md-4 col-sm-6">
                        <div *ngIf="doingMDFlag" class="mu-service-content-single">
                          <div class="existing-div-wrap" *ngFor="let md of doing_md" id="plab-courses">
                            <div class="card">
                              <div class="card-body">
                                <span class="tit-high">{{md}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- End Service Content -->

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Service -->


  <!-- Start Contact -->
  <section id="mu-contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-contact-area">

            <div class="mu-contact-header">
              <h2 class="mu-heading-title">CONTACT ME</h2>
              <span class="mu-header-dot"></span>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever</p>
            </div>

            <!-- Start Contact Content -->
            <div class="mu-contact-content">
              <div class="row">

                <div class="col-md-12">
                  <div class="mu-contact-top">

                    <div class="row">
                      <div class="col-sm-4">
                        <div class="mu-contact-top-single">
                          <div class="mu-icon"><i class="fa fa-map-marker"></i></div>
                          <p>Dooley Branch Rd Millen, GA 30442, USA</p>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="mu-contact-top-single">
                          <div class="mu-icon"><i class="fa fa-phone"></i></div>
                          <p>+90 987 678 9834</p>
                          <p>+90 567 098 785</p>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="mu-contact-top-single">
                          <div class="mu-icon"><i class="fa fa-envelope"></i></div>
                          <p>contact@domain.com</p>
                          <p>support@domain.com</p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Contact Content -->

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact -->

</main>
<!-- End main content -->


<!-- Start footer -->
<footer id="mu-footer" role="contentinfo">
  <div class="container">
    <div class="mu-footer-area">
      <p class="mu-copy-right">&copy; Copyright <a rel="nofollow" href="http://markups.io">markups.io</a>. All right
        reserved.</p>
      <div class="social-media">
        <i class="fa fa-facebook-official" style="font-size:24px"></i> &nbsp;
        <i class="fa fa-instagram" style="font-size:24px"></i>  &nbsp;
        <i class="fa fa-linkedin-square" style="font-size:24px"></i> &nbsp;
        <i class="fa fa-twitter" style="font-size:24px"></i> &nbsp;
        <i class="fa fa-youtube-play" style="font-size:24px"></i> &nbsp;
      </div>
    </div>
  </div>

</footer>
<!-- End footer -->


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>